<div class="popup-overlay">
  <div class="popup">
    <form [formGroup]="authForm" autocomplete="off" class="auth-form">
      <div class="form-slide">
        <div class="input-group">
          <input type="text" id="email" formControlName="email" autocomplete="off"/>
          <label for="email">Email</label>
        </div>
        <div class="input-group">
          <input type="password" id="password" formControlName="password" autocomplete="off"/>
          <label for="password">Пароль</label>
        </div>
        <button type="submit" class="submit-btn" (click)="onSubmit()">Войти</button>
      </div>

    </form>

  </div>
</div>

